<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - #DailyUI028 Contact Form</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css'><link rel="stylesheet" href="../css/style3.css">
<link rel="stylesheet" href="../css/loader2.css">

</head>
<body>
<!-- partial:index.partial.html -->
<form class="form">
  <h2>CONTACT US</h2>
  <p type="Name:"><input placeholder="Write your name here.." class="con-name"></input></p>
  <p type="Email:"><input placeholder="Let us know how to contact you back.." class="con-email"></input></p>
  <p type="Message:"><input placeholder="What would you like to tell us.." class="con-msg"></input></p>
  <button class="con-submit">
    <div class="submit-text">Send Message</div>
    <div class="lds-ellipsis load"><div></div><div></div><div></div><div></div></div>

  </button>
  <div class="dv">
    <span class="fa fa-phone"></span>+2348030000000
    <span class="fa fa-envelope-o"></span> info@mauhelpdesk.com
  </div>
</form>
<!-- partial -->
  <script src="../Js files/contact.js"></script>
</body>
</html>
